@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400:700&display=swap');

.titleInfoCouses {
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 700;
}

.iconArroRightCourses {
    color: rgba(19, 142, 152, 1);
    font-size: 16px;
}

.infoTitleCourse {
    color: rgba(208, 251, 235, 1);
    border-color: rgba(208, 251, 235, 1);
    border-width: 1px;
    font-size: 9px;
}

.backgroundCardCourse {
    background-color: rgba(23, 37, 77, 1);
}

.colorButtonNav {
    background-color: rgba(208, 251, 235, 1);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
